<div class="BigContainer">
<div class="sphere">
    <h1 id="titulo-bookit">BookIT</h1>
</div>
<br>
<div class="container">
    <div class="buttons">
        <a href="/login">
            <button class="btn btn-custom btn-success w-100 mb-3">Log in</button>
        </a>
        <a href="/sign-up">
            <button class="btn btn-custom btn-success w-100 mb-3">Sign up</button>
        </a>
        <a href="/catalogo">
            <button class="btn btn-custom btn-outline-custom btn-outline-success w-100 mb-3">Continue without account</button>
        </a>
        <div class="forgot-password-button">
            <a id="forgot-psw-btn" href="/forgot-password">Forgot your password?</a>
        </div>
        </div>
    
       
    
    
</div>
</div>