/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: var(--white-color);
}





#titulo-bookit{
    top: 75%;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 100px;
    color: var(--white-color);
    font-weight: semibold;
    font-style: italic;
    text-align: center;
}


.buttons{
    position: relative; /* Fija los botones en la pantalla */
    top: 200px; /* Distancia desde la parte inferior */
    left: 50%; /* Centra los botones horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición para centrar */
    z-index: 1000; /* Asegura que los botones estén por encima de otros elementos */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Redondear las esquinas */
    color: white; /* Color del texto */
    border: none; /* Quitar el borde */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */   
}




.container{
    padding: 18%;
}



/* Estilos para el div con la clase sphere */
.sphere {
    padding: 3%;
    transform: translateX(-50%); 
    position: absolute; /* Fija el div en la pantalla */
    top: -55vh; /* Posiciona el div en la parte superior */
    left: 50%; /* Posiciona el div en la parte izquierda */
    width: 800px; /* Hace que el div ocupe todo el ancho de la pantalla */
    height: 800px; /* Ajusta la altura del div según tus necesidades */
    background-color: var(--primary-color); /* Color de fondo del div */
    z-index: 1000; /* Asegura que el div esté por encima de otros elementos */
    border-radius: 0 0 100% 100%; /* Redondea las esquinas superiores */
    
}
@media (min-width: 800px) and (max-width: 1600px) {
    .sphere {
        top: -70vh;
        width: 100%;
        height: 800px; /* Ajusta el ancho al 100% en pantallas grandes */
    }
}
@media (min-width: 1600px) {
    .sphere {
        top: -40vh; 
        width: 100%;
        height: 800px; /* Ajusta el ancho al 100% en pantallas grandes */
    }
}


#arrow-back{
    position: absolute;
    left: 3%;
    height: 50%;
    transform: rotate(180deg);
    top: 25%;

    

}


.align-items-center {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}


#div-img-login{
    position: absolute;
    top: 110px;
    height: 250px;
    background-color: var(--primary-color);
    justify-content: center;
    
}
#seated-person-img{
    position: absolute;
    height: 90%;
}


#login-form{
    margin-top: 300px;
}

.input-field{
    border-radius: 15px;
    border-color: var(--primary-color);
    border-width: 2px;
    height: 40px;
    width: 100%;
}

.input-block{
    margin-top: 20px; 
    width: 100%;
}

/* Texto sobre los campos de formulario */
.form-label{
    color: var(--primary-color);
    font-weight: semibold;
    font-size: 17px;
    margin-left: 15px;
    margin-bottom: 0;
    height: 100%;
}




.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#recover_psw_message{
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

#recover-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}