.navbar   {
    background-color: #5ABD8C;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ffffff;
    margin: 0 auto;
}
.nav-link  {
    color: #ffffff;
    margin: 0 auto;
    font-size: 22px;
}

.boton-volver {
    background-color: #5ABD8C;
    color: white;
    border: none;
    
}
.boton-volver:active {
    background-color: #66d69e; /* Color de fondo al hacer clic */
    border-radius: 50px;
    
}

.btn-primary {
    background-color: #5ABD8C;
    border-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-radius: 50px;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: #5ABD8C !important; /* Color de fondo al hacer clic */
    border-color: #ffffff !important;
    transform: scale(0.98); /* Efecto de "presionado" */
}
.btn-primary:active {
    background-color: #64c698 !important; /* Color de fondo al hacer clic */
    border-color: #ffffff !important;
    
}