.navbar   {
    background-color: #5ABD8C;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ffffff;
}
.nav-link  {
    color: #ffffff;
}
.navbar-nombre {
    color: #ffffff;
    margin: 0 auto;
    font-size: 24px; /* Tamaño h4 en píxeles */
        font-family: 'Roboto', sans-serif;
    font-style: italic;
} 
.boton-volver {
    background-color: #5ABD8C;
    color: white;
    border: none;
    
}
.boton-volver:active {
    background-color: #66d69e; /* Color de fondo al hacer clic */
    border-radius: 50px;
    
}