.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.boton-volver {
    background-color: #5ABD8C;
    color: #FFFFFF;
    border: none;
}
.boton-volver:active {
    background-color: #66d69e; /* Color de fondo al hacer clic */
    border-radius: 50px;
}
.btn-primary {
    background-color: #5ABD8C;
    border-color: #5ABD8C;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-radius: 50px;
}

.text-lista-libros {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #5ABD8C;
    text-align: center;
}
.boton-basura {
    background-color: #ffffff;
    color: red;
    border: none;
    position: absolute;
    right: 0;
    bottom: 10px
}
.boton-basura:active {
    background-color: #f2f2f2; /* Color de fondo al hacer clic */
    border-radius: 50px;
}
.imagen-personalizada {
    width: 70%; /* Ajusta el ancho al 70% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 200px; /* Restringe la altura máxima a 300 píxeles */
    max-width: 200px;
  }
  
.boton-lapiz {
    background-color: #ffffff;
    color: #5ABD8C;
    border: none;
}
.boton-lapiz:active {
    background-color: #f2f2f2; /* Color de fondo al hacer clic */
    border-radius: 50px;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.05;
}

p {
    font-size: 1.8rem;
    font-style: var(--fuenteEstilo);
    color: var(--primario);
}

a {
    text-decoration: none;
}



h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-style: var(--fuenteEstilo);
    font-size: italic;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
    color: var(--primario);
}

h5 {
    font-size: 1rem;
    color: var(--primario);
}

span {
    font-size: 4rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--primario);
    text-decoration: none;
}
.nav-bg-sec {
    background-color: var(--celes-clarito);
    text-decoration: none;
    border-radius: 10%;
}
.nav-menu {
    padding: 1rem;
}

.navegacion-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.buscador__libro {
    width: 5rem;
    text-decoration: none;
}

.buscador__lupa {
    width: 3rem;
}

.navegacion-principal h1 {
    margin: 0 auto;
}

.resultado-busqueda {
    display: flex;
    justify-content: start;
    color: var(--gris);
}

/* Botones */

.boton-primario {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-primario:hover {
    background-color: var(--blanco);
    color: var(--primario);
    border: 1px solid var(--primario);
}

.boton-secundario {
    background-color: var(--blanco);
    color: var(--primario);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-secundario:hover {
    background-color: var(--primario);
    color: var(--blanco);
    border: 1px solid var(--primario);
}

