:root {
    --primary-color: #5ABD8C;
    --secondary-color: #4AA374;
    --tertiary-color: #0a4e2a;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --primario: #5ABD8C;
    --blanco: #fff;
    --celes-clarito: #f3fefe;
    --gris: #707070;
    --negro: #0000;
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteEstilo: italic;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.05;
}

p {
    font-size: 1.8rem;
    font-style: var(--fuenteEstilo);
    color: var(--primario);
}

a {
    text-decoration: none;
}



h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-style: var(--fuenteEstilo);
    font-size: italic;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
    color: var(--primario);
}

h5 {
    font-size: 1rem;
    color: var(--primario);
}

span {
    font-size: 4rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--primario);
    text-decoration: none;
}
.nav-bg-sec {
    background-color: var(--celes-clarito);
    text-decoration: none;
    border-radius: 10%;
}
.nav-menu {
    padding: 1rem;
}

.navegacion-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.buscador__libro {
    width: 5rem;
    text-decoration: none;
}

.buscador__lupa {
    width: 3rem;
}

.navegacion-principal h1 {
    margin: 0 auto;
}

.resultado-busqueda {
    display: flex;
    justify-content: start;
    color: var(--gris);
}

/* Botones */

.boton-primario {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-primario:hover {
    background-color: var(--blanco);
    color: var(--primario);
    border: 1px solid var(--primario);
}

.boton-secundario {
    background-color: var(--blanco);
    color: var(--primario);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-secundario:hover {
    background-color: var(--primario);
    color: var(--blanco);
    border: 1px solid var(--primario);
}

