<div class="container d-flex flex-column  mt-3">
    <div *ngFor="let libro of arrayLibros; let i = index" class="row" [hidden]="i % 2 !== 0">
    <div class="col-md-6 ">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
              <img src="assets/Libro-en-3d.jpg" class="imagen-personalizada" alt="..."  >
              <div  class="card-body">
                <h5 class="card-title">{{arrayLibros[i].nombre}}</h5>
                <p class="card-text">{{arrayLibros[i].descripcion}}</p>
                <h6>Genero:{{arrayLibros[i].genero}}</h6>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <a class="btn btn-primary" (click)="addToCart(arrayLibros[i])">Agregar al carrito </a>
              </div> 
            
          </div>
      </div>
    </div>
    <div class="col-md-6"*ngIf="arrayLibros[i+1]">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
              <img src="assets/Libro-en-3d.jpg" class="imagen-personalizada " alt="..." >
              <div class="card-body">
                <h5 class="card-title">{{arrayLibros[i+1].nombre}}</h5>
                <p class="card-text">{{arrayLibros[i+1].descripcion}}</p>
                <h6>Genero:{{arrayLibros[i+1].genero}}</h6>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <a  class="btn btn-primary"(click)="addToCart(arrayLibros[i+1])">Agregar al carrito </a>
              </div> 
          </div>
      </div>
    </div>
    </div>
    