<div class="container   mt-3">
  <p>Página: {{page}} de {{cantidadDePaginas}}</p>
  <p>Cantidad de libros: {{totalLibros}}</p>
    <div *ngFor="let libro of arrayLibros; let i = index" class="row" [hidden]="i % 2 !== 0">
    <div class="col-md-6 ">
      <div class="card mb-3 h-100">
          <div class="row g-0">
              <img src="{{arrayLibros[i].portada}}" class="imagen-personalizada" alt="..."  >
              <div  class="card-body">
                <h5 class="card-title">{{arrayLibros[i].nombre}}</h5>
                <h6>Genero:{{arrayLibros[i].genero}}</h6>
                <p class="card-text">{{arrayLibros[i].descripcion}}</p>
                <p class="card-text">Autor:{{arrayLibros[i].autor}}</p>
                <p class="card-text">Publicacion:{{arrayLibros[i].publicacion}}</p>
                <p class="card-text">Editorial:{{arrayLibros[i].editorial}}</p>
                <p class="card-text">Idioma:{{arrayLibros[i].idioma}}</p>
                <p class="card-text">Valoracion: 
                  <span *ngIf="arrayLibros[i].promedioValoracion !== 'Sin valoraciones'">
                    {{arrayLibros[i].promedioValoracion}} / 5
                  </span>
                  <span *ngIf="arrayLibros[i].promedioValoracion === 'Sin valoraciones'">
                    {{arrayLibros[i].promedioValoracion}}
                  </span>
                </p>
                <div>
                  <label for="valoracionInput{{i}}" class="form-label">Valorar (1-5):</label>
                  <div class="d-flex">
                    <input type="number" id="valoracionInput{{i}}" 
                           [(ngModel)]="arrayLibros[i].valoracionUsuario" 
                           min="1" max="5" 
                           placeholder="Escribe un número entre 1 y 5" 
                           class="form-control me-2 flex-grow-1">
                    <button class="btn btn-primary" (click)="submitValoracion(arrayLibros[i], i)">Valorar</button>
                  </div>
                </div>
                
              </div>
          </div>
          <div class="d-flex justify-content-center mb-3 mt-auto">
            <a class="btn btn-primary" (click)="addToCart(arrayLibros[i])">Agregar al carrito </a>
          </div> 
      </div>
    </div>
    <div class="col-md-6"*ngIf="arrayLibros[i+1]">
      <div class="card mb-3 h-100">
          <div class="row g-0">
              <img src="{{arrayLibros[i+1].portada}}" class="imagen-personalizada " alt="..." >
              <div class="card-body">
                <h5 class="card-title">{{arrayLibros[i+1].nombre}}</h5>
                <h6>Genero:{{arrayLibros[i+1].genero}}</h6>
                <p class="card-text">{{arrayLibros[i+1].descripcion}}</p>
                <p class="card-text">Autor:{{arrayLibros[i+1].autor}}</p>
                <p class="card-text">Publicación:{{arrayLibros[i+1].publicacion}}</p>
                <p class="card-text">Editorial:{{arrayLibros[i+1].editorial}}</p>
                <p class="card-text">Idioma:{{arrayLibros[i+1].idioma}}</p>
                <p class="card-text">Valoracion: 
                  <span *ngIf="arrayLibros[i].promedioValoracion != 'Sin valoraciones'">
                    {{arrayLibros[i+1].promedioValoracion}} / 5
                  </span>
                  <span *ngIf="arrayLibros[i].promedioValoracion == 'Sin valoraciones'">
                    {{arrayLibros[i+1].promedioValoracion}}
                  </span>
                </p>
                <div>
                  <label for="valoracionInput{{i}}" class="form-label">Valorar (1-5):</label>
                  <div class="d-flex">
                    <input type="number" id="valoracionInput{{i}}" 
                           [(ngModel)]="arrayLibros[i+1].valoracionUsuario" 
                           min="1" max="5" 
                           placeholder="Escribe un número entre 1 y 5" 
                           class="form-control me-2 flex-grow-1">
                    <button class="btn btn-primary" (click)="submitValoracion(arrayLibros[i+1], i+1)">Valorar</button>
                  </div>
                </div>
                
              </div>
          </div>
          <div class="d-flex justify-content-center mb-3 mt-auto">
            <a  class="btn btn-primary"(click)="addToCart(arrayLibros[i+1])">Agregar al carrito </a>
          </div> 
      </div>
    </div>
    </div>
    <div class=".footer mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link boton-secundario prev-btn me-2" aria-label="Previous" (click)="prevPage()">
              <img src="assets/green-arrow-left.png" alt="Previous">
            </a>
          </li>
          <li class="page-item" *ngFor="let page of getPagesArray(); let i = index;">
            <a class="page-link boton-primario" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item">
            <a  class="page-link boton-secundario prev-btn ms-2" aria-label="Next" (click)="nextPage()" >
              <img src="assets/green-arrow-right.png" alt="Next">
            </a>
          </li>
        </ul>
      </nav>
    </div>    