<div class="sphere">
    <h1 id="titulo-bookit">BookIT</h1>
</div>
<br>
<div class="container">
    <div class="buttons">
        <a href="login.html">
            <button class="btn btn-custom btn-success w-100 mb-3">Log in</button>
        </a>
        <a href="signup.html">
            <button class="btn btn-custom btn-success w-100 mb-3">Sign up</button>
        </a>
        <a href="catalogo.html">
            <button class="btn btn-custom btn-outline-custom btn-outline-success w-100 mb-3">Continue without account</button>
        </a>
        </div>
    
    
    <div class="forgot-password-button">
        <a id="forgot-psw-btn" href="forgot_password.html">Forgot your password?</a>
    </div>
    
</div>