<div class="container-fluid"> 
    <app-nav-volver></app-nav-volver>
    <div class="container mt-5 justify-content-center align-items-center">
        <h2 class="btn-admin text-center mb-3">Users</h2>
    
        <div class="card justify-content-center align-items-center" style="border: none;">
            <div class="card-body">
                <a href="usuarios.html"> 
                    <button type="button" class="image-button">
                        <img src="UserCircle.png" alt="User Icon">
                    </button>
                </a>  
            </div>
        </div>
    
        <h2 class="btn-admin text-center mt-4 mb-3">Book Reservations</h2>
    
        <div class="card justify-content-center align-items-center" style="border: none;">
            <div class="card-body">
                <a href="prestamos-bibliotecario.html">
                    <button type="button" class="image-button">
                        <img src="Bookreserve.png" alt="Reserve Icon">
                    </button>
                </a>
            </div>
        </div>

        <h2 class="btn-admin text-center mt-4 mb-3">Add/Del Book</h2>
    
        <div class="card justify-content-center align-items-center" style="border: none;">
            <div class="card-body">
                <button type="button" class="image-button" routerLink="/app-admin-lista-libros">  
                    <img src="Book.png" alt="Book Icon">
                </button>  
                    
            </div>
        </div>
    </div>
</div>
    
