.btn-admin {
    color: #5ABD8C;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 40px;
}

.image-button {
    background: none; /* Quita el fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina cualquier relleno extra */
    margin: 0; /* Elimina cualquier margen extra */
    cursor: pointer; 
}
.image-button:active {
    background-color: #66d69e; /* Color de fondo al hacer clic */
}