<div class="container-fluid"> 
    <app-nav-volver routerLink="/catalogo"></app-nav-volver>
    <div class="container mt-5 justify-content-center align-items-center">
        

        <div class="card justify-content-center align-items-center" style="border: none;">
            <div class="card-body">
                <button type="button" class="image-button" routerLink="/usuarios">
                    <img class="custom-img" src="assets/UserCircle.png" alt="User Icon">
                </button>
            </div>
        </div>
        <h2 class="btn-admin custom-text text-center mb-3">Usuarios</h2>

        

        <div class="card justify-content-center align-items-center" style="border: none;">
            <div class="card-body">
                <button type="button" class="image-button" routerLink="/prestamos-bibliotecario">
                    <img class="custom-img" src="assets/Bookreserve.png" alt="Reserve Icon">
                </button>
            </div>
        </div>
        <h2 class="btn-admin custom-text text-center mt-4 mb-3">Prestamos</h2>

        

        <div class="card justify-content-center align-items-center" style="border: none;">
            <div class="card-body">
                <button type="button" class="image-button" routerLink="/admin-lista-libros">  
                    <img class="custom-img" src="assets/Book.png" alt="Book Icon">
                </button>  
                    
            </div>
        </div>
        <h2 class="btn-admin custom-text text-center mt-4 mb-3">Add/Del Libros</h2>
    </div>
</div>