<nav class="navbar navbar-expand-lg" >
    <div class="container">
    <button type="button" class="boton-volver"> 
      <img src="assets/flecha.png">
    </button>
      <div class="navbar-nombre">Bookit</div>
      
      <button  type="button" class="boton-volver position-relative" onclick="window.location.href='catalogo'"> 
        <i class="bi bi-cart"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          1+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    
    </div>
  </nav>
