<div class="container-fluid">
  <div class="container d-flex flex-column align-items-center mt-3">
      <div class="row">
      <div *ngFor="let usuario of arrayUsuarios" class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-sm-4 ">
                <img src="assets/usuario.jpg" class="imagen-personalizada" alt="..."  >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h5>
                  <p class="card-text mb-1">Correo: {{usuario.correo}}</p>
                  <p class="card-text mb-1">Telefono: {{usuario.telefono}}</p>
                  <p class="card-text mb-1">Rol: {{usuario.rol}}</p>
                    <app-edit-button (click)="goToUserDetalles(usuario.id)"></app-edit-button>                  
                    <app-delete-button (click)="deleteUser(usuario.id)"></app-delete-button>
                </div>
              </div>
            </div>
        </div>
      </div>  
  </div>  
</div>  

