<div class="container-fluid">
  <p>Página: {{page}} de {{cantidadDePaginas}}</p>
  <p>Cantidad de Usuarios: {{totalLibros}}</p>
  <div class="container  mt-3">
      <div class="row">
      <div *ngFor="let usuario of arrayUsuarios" class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-sm-4 ">
                <img src="assets/usuario.jpg" class="imagen-personalizada" alt="..."  >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h5>
                  <p class="card-text mb-1">Correo: {{usuario.correo}}</p>
                  <p class="card-text mb-1">Telefono: {{usuario.telefono}}</p>
                  <p class="card-text mb-1">Rol: {{usuario.rol}}</p>
                  <p class="card-text mb-1">Usuario Id: {{usuario.id}}</p>

                    <app-edit-button (click)="goToUserDetalles(usuario.id)"></app-edit-button>                  
                    <app-delete-button (click)="deleteUser(usuario.id)"></app-delete-button>
                </div>
              </div>
            </div>
        </div>
      </div>  
  </div>  
</div>  
<div class=".footer mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link boton-secundario prev-btn me-2" aria-label="Previous" (click)="prevPage()">
          <img src="assets/green-arrow-left.png" alt="Previous">
        </a>
      </li>
      <li class="page-item" *ngFor="let page of getPagesArray(); let i = index;">
        <a class="page-link boton-primario" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item">
        <a  class="page-link boton-secundario prev-btn ms-2" aria-label="Next" (click)="nextPage()" >
          <img src="assets/green-arrow-right.png" alt="Next">
        </a>
      </li>
    </ul>
  </nav>
</div>  
