<div class="container d-flex flex-column align-items-center mt-3">
    <div class="row">
    <div *ngFor="let prestamo of arrayPrestamosAdmin" class="col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-sm-4 ">
              <img src="assets/pila.jpg" class="imagen-personalizada" alt="..."  >
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Prestamo {{prestamo.id}}</h5>
                <p class="card-text mb-1">Estado: {{prestamo.estado}}</p>
                <p class="card-text mb-1">Prestamo: {{prestamo.fecha_prestamo}}</p>
                <p class="card-text mb-1">Devolución: {{prestamo.fecha_devolucion}}</p>
                <p class="card-text mb-1">Libro Id: {{prestamo.libro_id}}</p>
                <p class="card-text mb-1">Usuario Id: {{prestamo.usuario_id}}</p>
                  <app-edit-button (click)="goToUserDetalles(prestamo.id)"></app-edit-button>             
                  <app-delete-button (click)="accionDeleteBook(prestamo.id)"></app-delete-button>
               
              </div>
            </div>
          </div>
      </div>
    </div>
</div> 
