<div class="container-fluid">   
    <app-nav-volver routerLink="/admin-lista-libros"></app-nav-volver>
    <div class = 'body'>
      <form [formGroup]='bookForm' id="book-form" >
          <div class="input-block">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control input-field" formControlName="nombre">
          </div>
          <div class="input-block">
              <label for="genero" class="form-label">Genero</label>
              <input type="text" class="form-control input-field" formControlName="genero">
          </div>
          <div class="input-block">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control input-field" formControlName="descripcion">
          </div>
          <div class="input-block">
              <label for="editorial" class="form-label">Editorial</label>
              <input type="text" class="form-control input-field" formControlName="editorial">
          </div>
          <div class="input-block">
              <label for="idioma" class="form-label">Idioma</label>
              <input type="text" class="form-control input-field" formControlName="idioma">
          </div>
      </form>
  </div>
  <app-add-libros [bookForm]="bookForm"></app-add-libros>
  </div>    
