.foto-book {
    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}

.body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--white-color);
}

.text-lista-libros {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #5ABD8C;
    text-align: center;
}

.boton-basura {
    background-color: #ffffff;
    color: red;
    border: none;
    position: absolute;
    right: 0;
    bottom: 10px
}
.boton-basura:active {
    background-color: #f2f2f2; /* Color de fondo al hacer clic */
    border-radius: 50px;
}


.boton-lapiz {
    background-color: #ffffff;
    color: #5ABD8C;
    border: none;
}
.boton-lapiz:active {
    background-color: #f2f2f2; /* Color de fondo al hacer clic */
    border-radius: 50px;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.input-block{
    margin-top: 20px; 
}

/* Texto sobre los campos de formulario */
.form-label{
    color: var(--primary-color);
    font-weight: semibold;
    font-size: 17px;
    margin-left: 15px;
    margin-bottom: 0;
}

.input-field{
    border-radius: 15px;
    border-color: var(--primary-color);
    border-width: 2px;

}
