
<div class="container-fluid">   
  <app-nav-volver routerLink="admin_lista_libros.html"></app-nav-volver>
<div class="text-lista-libros mt-3"><h3>Añadir libro</h3></div>
<div class="container d-flex flex-column align-items-center">
    <div class="card mt-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-sm-4 ">
            <img src="Book.png" class="imagen-personalizada" alt="..."  >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Libro1</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button type="button" class="boton-lapiz"> 
                <i class="bi bi-pencil"></i>
              </button>  
              <button type="button" class="boton-basura"> 
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
    <div class="foto-book mt-5 mb-5">
        <img src="librofoto.png" class="imagen-personalizada" alt="..."  >
    </div> 
    <div>  
      <button type="button" class="btn btn-success mt-5">Add book</button>
    </div>
</div>      
