<app-nav-volver routerLink="/home"></app-nav-volver>
<div class="body">


    <form id="register-form">
        <div id="recover_psw_message">
            <p>Enter your new password</p>
        </div>
        <div class="input-block">
            <label for="password" class="form-label">New password</label>
            <input type="password" class="form-control input-field">
        </div>
        <div class="input-block">
            <label for="password" class="form-label">Confirm new password</label>
            <input type="password" class="form-control input-field">
        </div>
        <app-submit-button></app-submit-button>
        
    </form>
    
</div>