<app-nav-volver routerLink="/home"></app-nav-volver>
<div class = 'body'>

    <form [formGroup]='registerForm' id="register-form" action="/pages/login" >
        <div class="input-block">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control input-field" formControlName="correo">
        </div>
        <div class="input-block">
            <label for="Username" class="form-label">Name</label>
            <input type="text" class="form-control input-field" formControlName="nombre">
        </div>
        <div class="input-block">
            <label for="Username" class="form-label">LastName</label>
            <input type="text" class="form-control input-field" formControlName="apellido">
        </div>
        <div class="input-block">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control input-field" formControlName="contraseña">
        </div>
        <div class="input-block">
            <label for="password" class="form-label">Confirm password</label>
            <input type="password" class="form-control input-field" >
        </div>
        <app-submit-button [registerForm]='registerForm'></app-submit-button>
    </form>
</div>