
    <app-header></app-header>
<div class = 'body'>
    <div class="row">
        <div class="col">
            <div id="div-img-login">
                <img id="seated-person-img" src="assets/seated_person_reading.png" alt="">
            </div>
        </div>
    </div>
    <form [formGroup]='loginForm'  id="login-form" action="/pages/home">
        <div class="input-block">
            <label for="email" class="form-label">Username or email</label>
            <input type="email" class="form-control input-field" formControlName="email">
            
        </div>
        <div class="input-block">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control input-field" formControlName="password">
        </div>
       
        

    </form>
    <app-submit-button></app-submit-button>
    
</div>
