<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link boton-secundario prev-btn transition-img" href="#" aria-label="Previous">
                    <img src="imagenes/green-arrow-left.png" alt="Previous">
                </a>
            </li>
            <li class="page-item"><a class="page-link boton-primario" href="#">1</a></li>
            <li class="page-item"><a class="page-link boton-primario" href="#">2</a></li>
            <li class="page-item"><a class="page-link boton-primario" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link boton-secundario transition-img" href="#" aria-label="Next">
                    <img src="imagenes//green-arrow-right.png" alt="Next">
                </a>
            </li>
        </ul>
    </nav>
</div>
