<div class="container-fluid">   
  <app-nav-volver routerLink="/usuarios"></app-nav-volver>
  <div class = 'body'>
    <form [formGroup]='userForm' id="user-form" >
        <div class="input-block">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control input-field" formControlName="nombre">
        </div>
        <div class="input-block">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control input-field" formControlName="apellido">
        </div>
        <div class="input-block">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control input-field" formControlName="correo">
        </div>
        
        <div class="input-block">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control input-field" formControlName="telefono">
        </div>
        <div class="input-block">
            <label for="rol" class="form-label">Rol</label>
            <input type="text" class="form-control input-field" formControlName="rol">
        </div>
    </form>
</div>
<app-addusers [userForm]="userForm" [userId]="userId ?? 0"></app-addusers>
</div>    
