.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

/* Botones */

.boton-primario {
    background-color: #5ABD8C;
    color: #fff;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-primario:hover {
    background-color: #fff;
    color: #5ABD8C;
    border: 1px solid #5ABD8C;
}

.boton-secundario {
    background-color: #fff;
    color: #5ABD8C;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-secundario:hover {
    background-color: #5ABD8C;
    color: #fff;
    border: 1px solid #5ABD8C;
}

