<div class=".footer ">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            
                <a class="page-link boton-secundario prev-btn"  aria-label="Previous">
                    <img src="assets/green-arrow-left.png" alt="Previous">
                </a>
          
            <li class="page-item"><a class="page-link boton-primario" href="#">1</a></li>
            <li class="page-item"><a class="page-link boton-primario" href="#">2</a></li>
            <li class="page-item"><a class="page-link boton-primario" href="#">3</a></li>
            
                <a class="page-link boton-secundario prev-btn"  aria-label="Next">
                    <img src="assets/green-arrow-right.png" alt="Next">
                </a>
            
        </ul>
    </nav>
</div>