<div class="container-fluid">
    <app-nav-volver routerLink="/prestamos-bibliotecario"></app-nav-volver>   
<div class="container d-flex flex-column align-items-center mt-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-sm-4 ">
            <img src="assets/Bookreserve.png" class="imagen-personalizada" alt="..."  >
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Reserva1</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="boton-lapiz"> 
                <i class="bi bi-pencil"></i>
                </button>  
                <button type="button" class="boton-basura"> 
                <i class="bi bi-trash"></i>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>     
    <div class="text-lista-libros"><h3>Lista Libros</h3></div>
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
        <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-sm-4 ">
                <img src="assets/Book.png" class="imagen-personalizada" alt="..."  >
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Libro1</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button type="button" class="boton-basura"> 
                    <i class="bi bi-trash"></i>
                    </button>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-sm-4">
                <img src="assets/Book.png" class="imagen-personalizada " alt="..." >
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Libro2</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button type="button" class="boton-basura"> 
                    <i class="bi bi-trash"></i>
                    </button>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-sm-4">
                    <img src="assets/Book.png" class="imagen-personalizada " alt="..." >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Libro3</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button type="button" class="boton-basura"> 
                        <i class="bi bi-trash"></i>
                    </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-sm-4">
                    <img src="assets/Book.png" class="imagen-personalizada " alt="..." >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Libro4</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button type="button" class="boton-basura"> 
                        <i class="bi bi-trash"></i>
                    </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>   
    </div>  
</div>
