.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-lista-libros {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: var(--primary-color);
    text-align: center;
}

.boton-basura {
    background-color: #ffffff;
    color: red;
    border: none;
    position: absolute;
    right: 0;
    bottom: 10px
}
.boton-basura:active {
    background-color: #f2f2f2; /* Color de fondo al hacer clic */
    border-radius: 50px;
}

.imagen-personalizada {
    width: 70%; /* Ajusta el ancho al 70% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 200px; /* Restringe la altura máxima a 300 píxeles */
    max-width: 200px;
  }

.boton-lapiz {
    background-color: #ffffff;
    color: #5ABD8C;
    border: none;
}
.boton-lapiz:active {
    background-color: #f2f2f2; /* Color de fondo al hacer clic */
    border-radius: 50px;
}