<div class="container d-flex flex-column align-items-center mt-3">
  <div *ngFor="let prestamo of arrayPrestamos; let i = index" class="row" [hidden]="i % 2 !== 0">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="assets/pila.jpg" class="imagen-personalizada" alt="Imagen del préstamo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Prestamo {{ prestamo.id }}</h5>
              <p *ngFor="let libro of prestamo.libros" class="card-text texto-libro">Libro: {{ libro.nombre }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6" *ngIf="arrayPrestamos[i + 1]">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="assets/pila.jpg" class="imagen-personalizada" alt="Imagen del préstamo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Prestamo {{ arrayPrestamos[i + 1].id }}</h5>
              <p *ngFor="let libro of arrayPrestamos[i + 1].libros" class="card-text texto-libro">Libro: {{ libro.nombre }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

