html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.body {
    background-color: #fff;
    font-size: 1.6rem;
    line-height: 1.05;
}

p {
    font-size: 1.8rem;
    font-style: italic;
    color: #5ABD8C;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
    color: #5ABD8C;
}

h5 {
    font-size: 1rem;
    color: #5ABD8C;
}

span {
    font-size: 4rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.nav-bg {
    background-color: #5ABD8C !important;
    text-decoration: none;
}
.nav-bg-sec {
    background-color: #f3fefe;
    text-decoration: none;
    border-radius: 10%;
}

/* Nav menu*/

.nav-menu {
    padding: 1rem;
}
.navbar-toggler {
    border: none; /* Elimina el contorno del botón */
}

.navbar-toggler:focus {
    outline: none; /* Elimina el contorno al hacer clic */
    box-shadow: none; /* Elimina cualquier sombra que pudiera aparecer */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(0,0,0,1)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
    filter: invert(100%); /* Cambia el ícono a blanco */
}




.buscador__libro {
    width: 5rem;
    text-decoration: none;
}

.buscador__lupa {
    width: 3rem;
}


/* Botones */

.primario {
    color: #5ABD8C;
}