<div class="body">
<div class="">
    <!-- Este codigo sirve para el boton-primario del libro -->
    <nav class="nav-bg navbar bg-body-tertiary">
        <div class="container-fluid ">
            <a href="index.html">
                <div class="navbar-nombre">Bookit</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon buscador__lupa"> </span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">

                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 nav-bg-sec">
                        <li class="nav-item d-flex nav-menu">
                            <img src="assets/cart.svg" alt="">
                            <a class="nav-link p-3 primario" href="carrito">Carrito</a>
                        </li>
                        <li class="nav-item d-flex nav-menu">
                            <img src="assets/journals.svg" alt="">
                            <a class="nav-link p-3 primario" href="prestamos">Prestamos</a>
                        </li>
                        <li class="nav-item d-flex nav-menu">
                            <img src="assets/gear-wide.svg" alt="">
                            <a class="nav-link p-3 primario" href="#">Configuracion</a>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
</div>