.navbar   {
    background-color: #5ABD8C;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ffffff;
}
.nav-link  {
    color: #ffffff;
    font-size: 22px;
    
}
.nav-link:hover {
    color: #ffffff;
    transform: scale(0.98); /* Efecto de "presionado" */
}
.btn-primary {
    background-color: #5ABD8C;
    border-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-radius: 50px;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: #5ABD8C !important; /* Color de fondo al hacer clic */
    border-color: #ffffff !important;
    transform: scale(0.98); /* Efecto de "presionado" */
}
.btn-primary:active {
    background-color: #64c698 !important; /* Color de fondo al hacer clic */
    border-color: #ffffff !important;
    
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(0,0,0,1)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
    filter: invert(100%); /* Cambia el ícono a blanco */
    border-color: #ffffff;
}
.navbar-toggler {
    box-shadow: none; /* Elimina cualquier sombra que pudiera aparecer */
    border-color: #ffffff;
}

.navbar-toggler.collapsed:active {
    transform: scale(0.98); /* Efecto de "presionado" */
}
.dropdown-item:active{
    background-color: #5ABD8C !important; /* Color de fondo al hacer clic */
    color: #ffffff;
}
