<nav class="navbar navbar-expand-lg ">
    <div class=" container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a 
             class="nav-link" routerLink="/carrito">Configuración</a>
          </li>
          <li class="nav-item">
            <a 
             class="nav-link" routerLink="/prestamos">Prestamos</a>
          </li>
          <li class="nav-item dropdown">
          <li class="nav-item">
            <a 
             class="nav-link" routerLink="/carrito">Carrito</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filtros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Acción</a></li>
              <li><a class="dropdown-item" href="#">Ciencia ficción</a></li>
              <li><a class="dropdown-item" href="#">Drama</a></li>
              <li><a class="dropdown-item" href="#">Fantasía</a></li>
              <li><a class="dropdown-item" href="#">Ficción</a></li>
              <li><a class="dropdown-item" href="#">Romance</a></li>
              <li><a class="dropdown-item" href="#">Terror</a></li>
              
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="buscar">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>