.header {
    background-color: var(--primary-color);
    position: absolute;
    height: 60px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-header{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: var(--white-color);
    font-weight: semibold;
    font-style: italic;
    z-index: 1;
    margin:0;
}

#login-header-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#header-centered{
    display: grid;
}


.align-items-center {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

#arrow-back{
    position: absolute;
    left: 3%;
    height: 50%;
    transform: rotate(180deg);
    top: 25%;
}



