.boton-primario {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

.boton-primario:hover {
    background-color: var(--blanco);
    color: var(--primario);
    border: 1px solid var(--primario);
}